*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;

}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
header h1 {
	padding-top: 0 36px;
	font-size: 29px;
}
.cont h1{
	font-size: 18px;
    padding-top: 34px !important;
}
.cont h1, i{
	display: inline; /* Отображать как строчный элемент */
	padding-top: 34px;
	margin: 0 5px;
}
.menu {
	box-shadow: 0 3px 8px #dfdee7, 0 -1px 4px #dfdee7;
	background: #f8f8f8;
	height: 40px;
	text-align: center;
	padding-top: 10px;
}
.menu__item {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 87px; /* Отступ слева */
    font-size: 18px;
    padding: 3px; /* Поля вокруг текста */
    text-align: center;
}
.menu__item a {
	color: black;
	font-weight: bold;
}
.menu__item a:hover {
	color: #3489d8;
}
.podmenu{

	padding-left: 28px;
	margin: 0;
		
}
.podmenu li{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	
}
.podmenu a{
	float: left;
	text-transform: none;
	border-radius: 20px;
	width: 150px;
	padding-left: 40px;
	padding-right: 140px;
	font-family: 'Rubik', sans-serif;
	color: #989898;
	font-size: 17pt;
}
.podmenu a:hover{
padding-left: 40px;
	padding-right: 140px;
	text-decoration: none;
	background: #3890dd;
	display: block;
	color: #fff;
}

.banner{
	text-align: center;
}
footer {
  flex: 0 0 auto;
	background: #161616;
	height: 216px;
}

.footer h1{
	text-align: center;
	color: white;
}
.footer_menu{
display: block;
}
.footer_menu li{
	color: #fff;
	display: inline-block;
}
.dash{
	font-size: 19pt;
	color: #535353 !important;
}
.social_menu li{
	display: inline-block;
	color: #fff;
}